:local(.video) {
  width: 200px;
  background: #F7F7F7;
  border: grey 1px solid;
}

:local(.thumbnail) {
  width: 200px;
  height: auto;
  display: inline-block;
}

:local(.progress){
  position: relative;
  top: 50%;
  border: 1px solid grey;
  background-color: grey;
  border-radius: 20px;
}
