:local(.video) {
  width: 200px;
  background: blue;
}

:local(.thumbnail) {
  width: 200px;
  height: auto;
  display: inline-block;
}

:local(.progress){
  border: 1px solid grey;
  background-color: grey;
  border-radius: 20px;
}
